<%= render "renegadefigs/display"%>


<%= form_with(url: search_path, method: :get, local: true) do %>
  <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Minifigure') %>
  <%= select_tag :cat,options_for_select(@category)%>
  <%= submit_tag("Search", class: "button is-primary") %>

<% end %>

<div class="hero-body">
  <div class="column is_half is-offset-one-quarter">
    <ul>
      <% @renegadefigs.each do | r| %>

        <li>

          <a href="/renegadefigs/<%=r.id%>">
            <h4><%= r.productName %></h4><br>
            <% if r.image.present? %>
              <%= image_tag r.image, height: 300, width: 300%><br>
            <% end %>
          </a>
            <% if cart.include?(r) %>
              <%= button_to cart_path(r), method: :delete do%>
              Remove From Cart
            <% end %>
            <%else%>
              <%= form_with url: cart_index_path, method: :post do %>
              <%= hidden_field_tag(:id, r.id)%>
              <%= button_tag 'Add to Cart' %>
            <% end %>
            <%end%>

        </li>

      <% end %>
    </ul>
  </div>
