<%= render "renegadefigs/display"%>
<h1><%= @renegadefigs.productName%></h1><br>
<% if @renegadefigs.image.present? %>
  <%= image_tag @renegadefigs.image, height: 300, width: 300%><br>
<% end %>
<h2><%= @renegadefigs.description%></h2>
<h3>price: $<%= @renegadefigs.price %></h3>
<h4>stock: <%= @renegadefigs.stock %></h4>
<% if cart.include?(@renegadefigs) %>
  <%= button_to cart_path(@renegadefigs), method: :delete do%>
  Remove From Cart
<% end %>
<%else%>
<%= form_with url: cart_index_path, method: :post do %>
  <%= hidden_field_tag(:id, @renegadefigs.id)%>
  <%= button_tag 'Add to Cart' %>
<% end %>
<%end%>
