<%= render "renegadefigs/display"%>
<div class="column is_half is-offset-one-quarter">
  <h1 class="title has-text-danger-dark is-size-1"><%= @renegadefigs.productName%></h1><br>
  <%if @renegadefigs.image.present? %>
    <%= image_tag @renegadefigs.image, height: 500, width: 500%><br>
  <% end %>
  <h2><%= @renegadefigs.description%></h2>
  <h2><%= @renegadefigs.category %></h2>
  <h3>price: $<%= @renegadefigs.price %></h3>
  <h4>stock: <%= @renegadefigs.stock %></h4>
  <% if cart.include?(@renegadefigs) %>
    <%= button_to cart_path(@renegadefigs), method: :delete do%>
    Remove From Cart
  <% end %>
  <%else%>
  <%= form_with url: cart_index_path, method: :post do %>
    <%= hidden_field_tag(:id, @renegadefigs.id)%>
    <%= button_tag 'Add to Cart' %>
  <% end %>
</div>
<%end%>
