<!DOCTYPE html>
<html>
  <head>
    <title>Renegade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https:/js.stripe.com/v3"></script>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <header>
      <h1 class="title has-text-danger-dark is-size-1">Renegade Figs</h1>

      <nav>
        <%= link_to image_tag("Page tag (2).png", width:60), checkout_path %>
        <ul class="menu-list">
          <li>
            Cart
            <% if cart.present? %>
              <sup>
                <% cart.size %>
              </sup>
            <ul>
              <% cart.each do |renegade| %>
                <li>
                  <%= renegade.productName %>

                  <%= button_to cart_path(renegade), method: :delete do%>
                  -
                  <%= %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <li><a href="/renegades">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/search/">Search</a></li>
          <li><a href="/category">Categories</a></li>

        </ul>
      </nav>
    </header>

    <main>
      <% if flash[:notice]%>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
